body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  padding: 2px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  padding: 8px;
  background: #e3f4ff;
  margin: 10px;
  font-size: 16px;
  font-weight: 800;
}

.content {
  padding: 16px 8px 16px 8px;
  background: #e3f4ff;
  margin: 10px;
  font-weight: 550;
}

.button-container {
  align-items: center;
  padding: 8px;
  background: #e3f4ff;
  margin: 10px;
  font-weight: 600;
  text-align: center;
}

button {
  /* background: white;
  border: 1px solid #eee;
  padding: 8px 24px 8px 24px;
  display: block;
  margin-left: 120px;
  font-weight: 700;
  /* border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px; */

  border: 1px solid #eee;
  background: white;
  display: block; /* display button in new line with button taking the whole width */
  margin: auto; /* short hand for centering the element */
  padding: 8px 24px;
}
